<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Test Developpeur Web</title>
    </head>
    <body>
        <h1>Test Walkpa</h1>

    <form method="post" th:action="@{/test}" th:object="${testNumber}">

        <label for="tapedNumber">Saisissez un nombre</label>

        <input type="number" id="tapedNumber" name="tapedNumber"/>

        <button value="try">Submit</button><h4 th:text="${alert}" />

    </form>
    <br/>
    <h1 th:text="'RESULTAT :'+ ${result}" />
   
    
</body>
</html>